<div class="container-fluid navbar-adjustment full-size standard-background-color">
	<div class="row-fluid standard-background-color">
		<div class="span2">
			<br>
		</div><!-- /span4 -->

		<div class="span8">
			<div class="page-title">
				About Treasures Bold
			</div>
			<div class="page-subtitle">
				About the Site
			</div>
		</div>
		<div class="span2">
		</div>
	</div><!-- /row -->

	<div class="row-fluid standard-background-color">
		<div class="span9">
			<div class="row-fluid">
				<div class="span4">
					<div class="description-heading">
						Purpose & Function
					</div>
				</div>
				<div class="span8">
					<div class="static-page-text">
						<p>This website combines two services that are often used to assist in the search for the <%= link_to "Fenn treasure", "http://en.wikipedia.org/wiki/Fenn_treasure" %>: 1) searching for geographic places that might be related to the clues, and 2) locating those places on a map. 
							First, TreasuresBold provides searchable access to the <%= link_to "Geographical Names Information System (GNIS)", "https://geonames.usgs.gov/pls/gnispublic/" %> database compiled by the <%= link_to "United States Geological Survey (USGS)", "http://www.usgs.gov/" %>, the most comprehensive list of place names on the web.
							Then, all of the search results are instantly mapped, using the <%= link_to "Google Maps API", "https://developers.google.com/maps/" %>, to show their location and relation to each other. 
							This significantly reduces the time it takes to search and map places in the GNIS database.
							In addition to mapping multiple places with one click, TreasuresBold also provides faster search results than the GNIS site. 
							<!-- graph comparing performance times of TreasuresBold and GNIS search -->
						</p>
						<br>

						<p>By utilizing the <%= link_to "advanced search", "/search" %> options, TreasuresBold allows you to find places that fit your specific criteria, which can save research time and lead to new ideas about where the chest is hidden. 
							This site also allows you to map multiple sets of search results together on one map. 
							For example, by doing a search for "canyon" and "brown", I can instantly see what areas in the Rocky Mountains have a place named "canyon" and a place named "brown" in close proximity.
							This feature is invaluable for finding promising search locations. 
							(Currently, it is only possible to combine two sets of search results but we hope to expand this functionality in the future.)
						</p>

						<p>There are plans to expand the Treasure Finder site to include, for example, customizable searches, "smarter" search results, savable search results, maps populated with places mentioned in The Thrill of the Chase & Too Far to Walk, search suggestions, etc. 
							If there are any features or improvements that you would like to see, please [submit the feedback form below] [send an email to: admin@treasurefinder.com].
						</p>
						<br>

						<p>Some notes about this site: [move this section to advanced_search page?]
							<ul>
								<li>Search results are restricted to the four states that currently comprise the "search area": New Mexico, Colorado, Wyoming, and Montana. (If you are interested in searching other states, please send an email to admin@treasurefinder.com.)</li>
								<ul>
									<li>All search results south of Santa Fe have been omitted (since FF has said the chest is "somewhere north of Santa Fe").</li>
								</ul>
								<li>Search results are limited to 20 per search. This keeps costs low.</li>
								<li>Database contains over [200,000] searchable places.</li>
							</ul>
						</p>
						<br>
					</div><!-- /static-page-text -->
				</div><!-- /span8 -->
			</div><!-- /row -->

			<div class="row-fluid">
				<div class="span4">
					<div class="description-heading">
						About the Author
					</div>
				</div>
				<div class="span8">
					<div class="static-page-text">
						[pic]
						<p>I first learned about Forrest Fenn and his brilliant scheme after reading [article] in 2011. 
							My first reaction was to smile at the boldness and creativity of the idea but i had no interest in becoming a crazed treasure hunter who was always chasing some half-true legend of ancient gold and who always carried around a metal-detector "just in case". 
							Over the next couple weeks, my curiosity and skepticism grew into excitement at the thought of taking up the challenge of finding the chest. 
							I read the poem a few times and convinced myself that: a) I was in the perfect place to look for the treasure, since i lived in the Rocky Mountains, and b) that i would certainly find it if devoted myself to the hunt. 
							Soon, i became mildly obsessed with the thrill of the chase. 
							I bought the book, memorized the poem, and pondered the meaning of the clues whenever i had a free moment. 
							I have had several adventures in search of the chest - and been disappointed every time - but i still have the confidence that i will find it. </p>

						<p>My main method of searching online is think up interpretations of the clues and then find places that correspond to those interpretations by searching the <a href="http://geonames.usgs.gov/pls/gnispublic">USGS place name database</a>. 
							For example, i might search for "brown" in New Mexico to get a list of all the places that have "brown" in the name. 
							Then, i often look for those places on <a href="http://maps.google.com/">Google Maps</a> (or another mapping website). 
							When there are many places to consider, this can be a tedious process. 
							So i decided to simplify it by creating Treasure Finder, which combines these two steps into one.</p>

						<p>So now, instead of searching for places and then going to Google Maps to see their location, i can do a search in Treasure Finder and it will find all related places in the USGS place name database and put them all on a map for me, instantly! 
							I've found that this tool saves a lot of time. 
							And i thought that other searchers might appreciate having access to it. 
							So i built a website to share it with other Fenners or anyone else who might find it useful. 
							I designed it with the intention of helping people on the Fenn Treasure hunt but there are other applications that people may want to use it for.</p>

						<p>[request for feedback]</p>

					</div><!-- /static-page-text -->
				</div><!-- /span8 -->
			</div>
		</div><!-- /span9 -->
		<div class="span3">
  		<div class="sidebar">

				<div class="row-fluid">
					<div class="sidebar-heading" style="text-indent: 15px;">
						<indent>About
					</div>
				</div><!-- /row -->

				<div class="row-fluid">
					<div class="show-link">
						<span class="sidebar-plank">Purpose</span>
					</div>
				</div><!-- /row -->

				<div class="row-fluid">
					<div class="show-link">
						<span class="sidebar-plank">Author</span>
					</div>
				</div><!-- /row -->

				<div class="row-fluid">
					<div class="show-link">
						<span hidden>placeholder</span>
				  </div>
				</div><!-- /row -->

			</div><!-- /sidebar -->
		</div><!-- /span3 -->
	</div><!-- /row -->
</div><!-- /container -->
