<div class="container-fluid navbar-adjustment full-size standard-background-color">
	<div class="row-fluid standard-background-color">
		<div class="span2">
			<br>
		</div><!-- /span4 -->

		<div class="span8">
			<div class="page-title">
				The Thrill of the Chase
			</div>
			<div class="page-subtitle">
				About the Site
			</div>
		</div>
		<div class="span2">
		</div>
	</div><!-- /row -->

	<div class="row-fluid standard-background-color">
		<div class="span9">
			<div class="row-fluid">
				<div class="span4">
					<div class="description-heading">
						Background
					</div>
				</div>
				<div class="span8">
					<div class="static-page-text">
						<p>The Thrill of the Chase is the name of a <%= link_to "treasure hunt", "http://www.oldsantafetradingco.com/the-thrill-resource-page" %> started by Forrest Fenn, a former art dealer in Santa Fe, New Mexico. 
							When he was 79-80 years old, Fenn hid a chest full of gold and jewels somewhere in the Rocky Mountains and then wrote a book about his life, titled <i><%= link_to "The Thrill of the Chase", "http://www.collectedworksbookstore.com/product/thrill-chase-forrest-fenn" %></i>. 
							The book includes memories from Fenn's life, a description of why Fenn hid the chest, and a <%= link_to "poem", "/poem" %> that is said to contain all the clues necessary to find the treasure chest. 
							Since the release of the book, thousands of people have flocked to the Rocky Mountains each year hoping to find Fenn's hidden cache.
						</p>
						<br>
					</div><!-- /static-page-text -->
				</div><!-- /span8 -->
			</div><!-- /row -->

			<div class="row-fluid">
				<div class="span4">
					<div class="description-heading">
						More Information
					</div>
				</div>
				<div class="span8">
					<div class="static-page-text">
						<p>If you're looking for more information about the treasure hunt, the <%= link_to "resource page", "http://www.oldsantafetradingco.com/the-thrill-resource-page" %> on Forrest Fenn's <%= link_to "website", "http://www.oldsantafetradingco.com" %> is considered the primary source.
							Two other good resources are <%= link_to "Dal Neitzel's blog", "http://dalneitzel.com/" %> and <%= link_to "Chase Chat", "http://www.chasechat.com/chat/" %>, a forum for discussing the treasure hunt.
							There are many other blogs and media stories about the hunt, some of which are listed below.
						</p>
						<br>
					</div><!-- /static-page-text -->
				</div><!-- /span8 -->
			</div>

			<div class="row-fluid">
				<div class="span4">
					<div class="description-heading">
						Popular Links
					</div>
				</div>
				<div class="span8">
					<div class="static-page-text">
						<p>
							<%= link_to "Forrest Fenn's website", "http://oldsantafetradingco.com" %><br>
							<%= link_to "Dal Neitzel's blog", "http://dalneitzel.com" %><br>
							<%= link_to "Chase Chat", "http://chasechat.com/chat" %><br>
						</p>
						<br>
					</div><!-- /static-page-text -->
				</div><!-- /span8 -->
			</div>
		</div><!-- /span9 -->

		<div class="span3">
  		<div class="sidebar">

				<div class="row-fluid">
					<div class="sidebar-heading" style="text-indent: 15px;">
						<indent>Chase
					</div>
				</div><!-- /row -->

				<div class="row-fluid">
					<div class="show-link">
						<span class="sidebar-plank">Background</span>
					</div>
				</div><!-- /row -->

				<div class="row-fluid">
					<div class="show-link">
						<span class="sidebar-plank">More Info</span>
					</div>
				</div><!-- /row -->

				<div class="row-fluid">
					<div class="show-link">
						<span class="sidebar-plank">Links</span>
					</div>
				</div><!-- /row -->

				<div class="row-fluid">
					<div class="show-link">
						<span hidden>placeholder</span>
				  </div>
				</div><!-- /row -->

			</div><!-- /sidebar -->
		</div><!-- /span3 -->
	</div><!-- /row -->
</div><!-- /container -->
