<%= form_tag("/places", method: "get") do |f| %>

  <div class="field">
    <%= label_tag :feature_id, "Feature ID" %><br>
    <%= text_field_tag :feature_id %>
  </div>

  <div class="actions">
    <%= submit_tag "Search" %>
  </div>

<% end %>


<% unless @landing.nil? %>
  <%= @landing.feature_id %><br>
  <%= @landing.feature_name %><br>
<% end %>

