<h1>Listing landings</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Results that match your search:</strong>
  <%= @search_results.size %>
</p>

<% content_for :map do %>
  <%= render "map_results" %>
<% end %>

<div id="map-canvas" style="height: 600px; width: 800px; border: 2px solid darkgreen; box-shadow: 0px 0px 8px;">
</div>

<table>
  <thead>
    <tr>
      <th>Feature</th>
      <th>Feature name</th>
      <th>Feature class</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @search_results.each do |landing| %>
      <tr>
        <td><%= landing.feature_id %></td>
        <td><%= landing.feature_name %></td>
        <td><%= landing.feature_class %></td>
        <td><%= link_to 'Show', place_path(id: landing.feature_id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back to Search Page', searches_path %>
<%= link_to 'New Search', search_path %>
