<body style="position: fixed" id="vert-scroll-off">
<%= bootstrap_flash %>

<div class="container-fluid" id="full-size">
  <div class="row-fluid" id="full-size">
    <div class="span9" id="map-span" style="height: 95%; width: 75%">

      <!-- Map inserted into application layout -->
      <% content_for :map do %>
        <%= render "map_results" %>
      <% end %>

      <!-- map-canvas with shadow on map -->
      <!-- source: http://stackoverflow.com/questions/11264240/add-inset-box-shadow-on-google-maps-element -->
      <div class="map-container">
        <div class="map" id="map"></div>
        <i class="map-top"></i>
        <i class="map-right"></i>
        <i class="map-bottom"></i>
        <i class="map-left"></i>
      </div>
      <!-- end map-canvas with shadow -->

      <!-- example of google maps as background with iframe -->
      <!-- http://googlemapsmania.blogspot.com/2012/10/using-z-index-with-google-maps.html -->

      <!-- basic map-canvas; no shadow on map -->
      <!-- <div id="map-canvas"> -->
        <!-- <div class="blank-map"> -->
          <!-- No Content<p> -->
          <!-- Please enter a new <%= link_to "search", search_path %> -->
        <!-- </div>/blank-map -->
      <!-- </div>/map-canvas -->
      <!-- end map -->
      <!-- end basic map-canvas -->

    </div><!-- /span9 -->

    <div class="span3" id="results-sidebar" style="height: 95%; width: 25%;">
      <div class="row-fluid" style="height: 8%; min-height: 50px;">
        <div class="results-heading">
          <!-- <a href='#' id='hide-sidebar'> >>> </a> -->

          <!-- Button to trigger modal -->
            <a href="#legendModal" role="button" class="modal-button" id="legend-button">Legend</a>
          <!-- <a href="#" id="modal-link"><h1>Details</h1></a> -->
            <a href="#statsModal" role="button" class="modal-button" id="stats-button">Stats</a>

          <!-- Modal: legend-box -->
          <div id="legendModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="legendModalLabel" aria-hidden="true">

            <div class="legend-box">
              <div class="row-fluid">
                <div class="legend-title">
                  <button type="button" class="close" id="close-legend-box" data-dismiss="modal" aria-hidden="true">x</button>
                  <h2>Legend</h2>
                </div><!-- /legend-title -->
              </div><!-- /row -->
              <div class="row-fluid">
                <div id="legend-headings">
                  <div class="span8">
                    Keywords
                  </div>
                  <div class="span4">
                    Marker
                  </div><!-- /span3 -->
                </div><!-- /legend-headings -->
              </div><!-- /row -->
              <% @search_results.each do |keyword, map_data| %>
              <% next if keyword.nil? %>
              <div class="row-fluid">
                <div id="legend-row">
                  <div class="span8" style="padding-top: 10px; padding-bottom: 5px;">
                    "<%= keyword %>"
                  </div>
                  <div class="span4" style="padding-top: 5px; padding-bottom: 5px;">
                    <img src="<%= map_data[:marker] %>">
                  </div>
                </div><!-- /legend-row -->
              </div><!-- /row -->
              <% end %>
            </div><!-- /legend-box -->

            <div class="stats-box">
              <div class="row-fluid">
                <div class="stats-title">
                  <button type="button" class="close" id="close-stats-box" data-dismiss="modal" aria-hidden="true">x</button>
                  <h2>Statistics</h2>
                </div><!-- /stats-title -->
              </div><!-- /row -->
              <div class="row-fluid">
                <div id="stats-headings">
                  <div class="span6">
                    Searches
                  </div>
                  <div class="span3">
                    Found
                  </div>
                  <div class="span3">
                    Map
                  </div><!-- /span2 -->
                </div><!-- /stats-headings -->
              </div><!-- /row -->
              <% @search_results.each do |keyword, map_data| %>
              <% next if keyword.nil? %>
              <div class="row-fluid">
                <div class="stats-row">
                  <div class="span6" style="padding-top: 10px; padding-bottom: 10px;">
                    "<%= keyword %>"
                  </div>
                  <div class="span3" style="padding-top: 10px; padding-bottom: 10px;">
                    <%= map_data[:total_found] %>
                  </div>
                  <div class="span3" style="padding-top: 10px; padding-bottom: 10px;">
                    <%= map_data[:landings].size %>
                  </div><!-- /span2 -->
                </div><!-- /stats-row -->
              </div><!-- /row -->
              <% end %>
            </div><!-- /stats-box -->

          </div><!-- /legendModal -->

        </div><!-- /results-heading -->
      </div><!-- /row -->
      <div class="row-fluid" id="landings-list">
        <ul id="landing-list-items">
          <% @search_results.each do |keyword, map_data| %>
            <% map_data[:landings].each_with_index do |landing, index| %>

              <li id="landing-list-items" data-landing="<%= landing.feature_id %>">
              <div class="row-fluid">
                <div class="span8"><!-- landing data -->
                  <strong>Name: </strong>
                  <a href="#"><%= landing.feature_name %></a><br>
                  <strong>Type: </strong><%= landing.feature_class %><br>
                  <strong>County: </strong><%= landing.county %><br>
                </div><!-- /span8 -->
                <div class="span2"><!-- landing marker -->
                  <div class="landing-list-marker">
                    <img src="<%= map_data[:marker] %>">
                  </div><!-- /marker-format -->
                </div><!-- /span2 -->
                <div class="span2">
                  <div class="landing-list-links">
                    <%= link_to "open", place_path(landing.feature_id), target: "_blank" %><br>
                    <a href="#" id="remove-landing" data-landing="<%= landing.feature_id %>">remove</a>
                    <!-- <input type="checkbox" name="save" value="#{landing.feature_name}"> -->
                  </div><!-- /landing-list-links -->
                </div><!-- /span2 -->
              </div><!-- /row -->
              </li>
            <% end %>
          <% end %><!-- /@search_results -->
        </ul>
      </div><!-- /row -->
      <div class="row-fluid" style="height: 5%;">
        <div class="results-footer">
        </div>
      </div>
    </div><!-- /span3 -->
  </div><!-- /row-fluid -->
</div><!-- /container -->

<!-- jQuery -->
<script>

  // bounce map marker on hover in sidebar
  $( document ).ready(function() {
    $( 'li#landing-list-items' ).hover(function() {
      $( this ).toggleClass( 'new-background' );
      var feature_id = $(this).data('landing');
      toggleBounce(feature_id); // bouncing marker
    });
  });

  // remove map marker from sidebar
  $( document ).ready(function() {
    $( 'a#remove-landing' ).click(function( event ) {
      $( this ).parent().parent().parent().parent().slideToggle();
      var feature_id = $(this).data('landing');
      deleteMarker(feature_id);
      event.preventDefault();
    });
  });

  // hide sidebar and enlarge map
  // $( document ).ready(function() {
  //   $( '#hide-sidebar' ).click(function( event ) {
  //     $( '#full-size' ).css( 'width', '125%' );
  //     mapResize();
  //   });
  // });

  // show legend and stats on map
  $( document ).ready(function() {
    $( '#legendModal' ).show();
    $( '.legend-box' ).hide();
    $( '.stats-box' ).hide();
    $( '#legend-button' ).click(function( event ) {
      $( '.legend-box' ).fadeToggle( 'fast' );
      event.preventDefault();
    });
    $( '#close-legend-box' ).click(function( event ) {
      $( '.legend-box' ).fadeToggle( 'fast' );
      event.preventDefault();
    });
    $( '#stats-button' ).click(function( event ) {
      $( '.stats-box' ).fadeToggle( 'fast' );
      event.preventDefault();
    });
    $( '#close-stats-box' ).click(function( event ) {
      $( '.stats-box' ).fadeToggle( 'fast' );
      event.preventDefault();
    });
  });

</script>


<!-- Gold coin: <img src="assets/empty-gold-coin-icon.jpg" width="35" height="28"> -->
