<body class="navbar-adjustment nonscroll hide-scroll">
<%= bootstrap_flash %>

<div class="container-fluid navbar-adjustment" id="full-size">
  <div class="row-fluid" id="full-size">
    <div class="span9" id="map-span" style="height: 95%; width: 75%">

      <!-- Map inserted into application layout -->
      <% content_for :map do %>
        <%= render "map_single" %>
      <% end %>

      <div class="map-container">
        <div class="map" id="map"></div>
        <i class="map-top"></i>
        <i class="map-right"></i>
        <i class="map-bottom"></i>
        <i class="map-left"></i>
      </div>

        <!-- basic map-canvas; no shadow on map -->
        <!-- <div id="map-canvas"> -->
        <!-- </div>/map-canvas -->
        <!-- end basic map-canvas -->
      <!-- end map -->

    </div><!-- /span9 -->
        
    <div class="span3" style="height: 95%; width: 25%;">
      <div class="row-fluid">
        <div class="place-details-heading">
          <h1>Place Details</h1>
        </div><!-- /results-heading -->
      </div><!-- /row -->
      <div class="row-fluid" style="height: 100%;">
        <div class="place-details-panel">
          <div class="row-fluid">
            <div class="place-details">
              place name:
              <strong><%= @landing.feature_name %></strong>
            </div>
          </div>

          <div class="row-fluid">
            <div class="place-details">
              place type:
              <strong><%= @landing.feature_class %></strong>
            </div>
          </div>

          <div class="row-fluid">
            <div class="place-details">
              elevation:
              <strong><%= @landing.elevation %> ft.</strong>
            </div>
          </div>

          <div class="row-fluid">
            <div class="place-details">
              county, state:
              <strong><%= @landing.county %>, <%= @landing.state %></strong>
            </div>
          </div>

          <div class="row-fluid">
            <div class="place-details">
              latitude:
              <strong><%= @landing.lat_decimal %></strong>
            </div>
          </div>

          <div class="row-fluid">
            <div class="place-details">
              longitude:
              <strong><%= @landing.long_decimal %></strong>
            </div>
          </div>

          <div class="row-fluid">
            <div class="place-details" hidden>
              USGS feature id:
              <strong><%= @landing.feature_id %></strong>
            </div>
          </div>
        </div>
      </div><!-- /row -->

    </div><!-- /span3 -->
  </div><!-- /row-fluid -->
</div><!-- /container -->


