signed_in: <%= user_signed_in? %><br>
username: <%= current_user.username %><br>
email: <%= current_user.email %><br>
user_session: <%= user_session %><br>

<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Password</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %><br>
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %><br>
<%= link_to 'Sign In', new_user_session_path %><br>
<%= link_to 'Sign Up', new_user_registration_path %><br>

