<div class="container-fluid">
  <div class="row-fluid">

    <div class="dashboard-sidebar">
      <div class="span2">
        Link1<br>
        Link2<br>

        <p id="notice"><%= notice %></p>
        <%= link_to 'Home', search_path %> |
        <%= link_to 'Edit User', edit_user_path(@user) %> |
      </div><!-- /span2 -->
    </div><!-- /dashboard-sidebar -->

    <div class="span8">
      <div class="row-fluid">
        <div class="dashboard-profile">
          <div class="span8">
            <p>
              <strong>Username:</strong>
              <%= current_user.username %>
            </p>

            <p>
              <strong>Email:</strong>
              <%= @user.email %>
            </p>
            <p>
              <h4><%= link_to "[edit profile info]", edit_user_path %></h4>
            </p>
          </div><!-- /span8 -->

          <div class="span4">
            <div class="dashboard-title">
              <h1>Profile</h1>
            </div><!-- /dashboard-title -->
          </div><!-- /span4 -->
        </div><!-- /dashboard-profile -->
      </div><!-- /row -->

      <div class="row-fluid">
        <div class="dashboard-profile">
          <div class="span8">
            Save searches (up to 10)<br>
            Save places (up to 10)<br>
            Save custom search settings<br>
            Cross-search other databases: Wikipedia, Free Dictionary, Google Places <h6>upgrade</h6>
          </div><!-- /span8 -->
          <div class="span4">
            <div class="dashboard-title">
              <h1>Settings</h1>
            </div><!-- /dashboard-title -->
          </div><!-- /span4 -->
        </div><!-- /dashboard-profile -->
      </div><!-- /row -->

      <div class="row-fluid">
        <div class="dashboard-profile">
          <div class="span8">        
            <table>
              <thead>
                <tr>
                  <th>Search Query</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <% @user.searches.each_with_index do |search, index| %>
                  <tr>
                    <td><%= search[:verbatim] %></td>
                    <td><%= search[:created_at].strftime "%b %d, %Y" %></td>
                    <% break if index > 5 %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div><!-- /span8 -->

          <div class="span4">
            <div class="dashboard-title">
              <h1>Searches</h1>
            </div><!-- /dashboard-title -->
          </div><!-- /span4 -->
        </div><!-- /dashboard-profile -->
      </div><!-- /row -->

      <div class="row-fluid">
        <div class="dashboard-profile">
          <div class="span8">
            
            <tr>
              <td><b>LINK: </b><a href="http://econsultancy.com/us/blog/62844-24-beautifully-designed-web-dashboards-that-data-geeks-will-love">http://econsultancy.com/us/blog/62844-24-beautifully-designed-web-dashboards-that-data-geeks-will-love</a></td>
            </tr><br>
            <tr>
              <td><b>LINK: </b><a href="http://speckyboy.com/2013/05/16/user-experience-trends-for-admin-dashboards/">http://speckyboy.com/2013/05/16/user-experience-trends-for-admin-dashboards/</a></td>
            </tr>

          </div><!-- /span8 -->
          <div class="span4">
            <div class="dashboard-title">
              <h1>Links</h1>
            </div><!-- /dashboard-title -->
          </div><!-- /span4 -->
        </div><!-- /dashboard-profile -->
      </div><!-- /row -->
    </div><!-- /span8 -->
  </div><!-- /row -->
</div><!-- /container -->

