<!-- <body class="nonscroll hide-scroll"> -->

<div class="container-fluid navbar-adjustment full-size standard-background-color">
	<div class="row-fluid">
		<div class="span4">
			<br>
		</div><!-- /span4 -->

		<div class="span4">
			<div class="page-title">
				Advanced Search Page
			</div>
			<div class="page-subtitle">
				Select options to filter your search
			</div><!-- /page_heading -->
		</div><!-- /span4 -->
		<div class="span4">
			<div id="alert"></div>
			<div id="error"><%= flash[:error] %></div>
			<div id="notice"><%= flash[:notice] %></div>
		</div>
	</div><!-- /row -->

	<div class="row-fluid">
		<div class="span12">
	
		<!-- Search form -->
		<%= form_for(@query) do |f| %>
		  <% if @query.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@query.errors.count, "error") %> prohibited this query from being saved:</h2>

		      <ul>
		      <% @query.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>

	    <div class="row-fluid">
	    	<div class="span4">
	    	</div><!-- /span4 -->
	    	<div class="span5">
	    		<div class="search_option">
	    		</div>
	    	</div><!-- /span5 -->
	    </div><!-- /row -->

	    <div class='row-fluid standard-background-color'>
	    	<div class='span9'>

			    <div class="row-fluid">
						<div class="span5">
							<div class="description-heading">
			    			Search Terms
			    		</div><!-- /description-heading -->
		    		</div><!-- /span5 -->
		    		<!-- <div class="span5"> -->
			    		<!-- <p>Enter the word for something you would like to search for. It could be the name of a place, a word from FF's poem, or a random idea that you would like to explore. -->
			    		<!-- <br>[link to More] -->
			    		<!-- <p>Please enter only one word per box. If you would like to search for multiple terms, click "Add Another Search Term". Currently, users are able to search for up to two terms at once. --> 
			    		<!-- <p>If you submit more than one search entry, the database will only find places that include BOTH search terms. (For example, if you put "canyon" in the first search box, and "brown" in the second, the database will only find places that include both "brown" and "canyon" in their fields.) -->
			    	<!-- </div>/span5 -->
						<div class="span7">
					    <input id="query_entry1" name="query[entries][entry1][keyword]" type="text" class="input-large" placeholder="search keyword (required)" style="width: 85%;">
					    <img src="http://maps.google.com/mapfiles/ms/icons/green.png" style="padding-bottom: 12px;">
						</div><!-- /span7 -->
					</div><!-- /row -->

			    <div class="row-fluid" id="fields">
						<div class="span5">
							<div class="description-heading">
			    			<h3>Search Fields</h3>
			    		</div><!-- /description-heading -->
		    		</div><!-- /span5 -->
						<div class="span7" style='margin-top: 5px;'>

							<!-- simple input checkboxes -->
		<!-- 				  <label class="checkbox-inline">
						    <input type="checkbox" id="field_select_place_name" name="query[entries][entry1][fields][feature_name]"> Place Name
						  </label>	  
						  <label class="checkbox-inline">
						    <input type="checkbox" id="field_select_place_type" name="query[entries][entry1][fields][feature_class]"> Place Type (river, mountain, town, etc.)
						  </label>
						  <label class="checkbox-inline">
						    <input type="checkbox" id="state" name="query[entries][entry1][fields][state]"> State
						  </label>
						  <label class="checkbox-inline">
						    <input type="checkbox" id="city" name="query[entries][entry1][fields][county]"> County
						  </label> -->

			      	<div class="row-fluid">
			      		<div class="span2">
						    	<div class='custom-checkbox'>
						    		<input type="checkbox" value="1" id="checkbox-place-name-1" name="query[entries][entry1][fields][feature_name]" checked/>
						  	  	<label for="checkbox-place-name-1"></label>
						    	</div>
			  		    </div><!-- /span2 -->
			  		    <div class="span10">
			      			<div class="checkbox-slider-text">
				  		    	Place Name
				  		    </div><!-- /checkbox-slider-text -->
				    	  </div><!-- /span10 -->
				    	</div><!-- /row -->

			      	<div class="row-fluid">
			      		<div class="span2">
						    	<div class='custom-checkbox'>
						    		<input type="checkbox" value="1" id="checkbox-place-type-1" name="query[entries][entry1][fields][feature_class]" checked/>
						  	  	<label for="checkbox-place-type-1"></label>
						    	</div>
			  		    </div><!-- /span2 -->
			  		    <div class="span10">
			      			<div class="checkbox-slider-text">
				  		    	Place Type
				  		    </div><!-- /checkbox-slider-text -->
				    	  </div><!-- /span10 -->
				    	</div><!-- /row -->

				    	<div class="row-fluid">
				    		<div class="span2">
						    	<div class='custom-checkbox'>
						    		<input type="checkbox" value="1" id="checkbox-county-1" name="query[entries][entry1][fields][county]" checked/>
						  	  	<label class= "checkbox-inline" for="checkbox-county-1"></label>
						    	</div>
						    </div><!-- /span2 -->
						    <div class="span10">
				    			<div class="checkbox-slider-text">
							    	County
							    </div>
						    </div><!-- /span10 -->
						  </div><!-- /row -->

						</div><!-- /span7 -->
					</div><!-- /row -->

					<div class="row-fluid" id="fields_link" style='margin-bottom: 25px;'>
						<div class='span5'>
							<br><!-- empty contents to make span 'work' -->
						</div>
						<div class='span7'>
							<div class="show-fields-link">
								<a href="#" id="reveal_fields">searchable fields</a>
						  </div>
						</div><!-- /span7 -->
					</div><!-- /row -->

					<div class="row-fluid" id="entry2">
						<div class="span5">
							<div class="description-heading">
			    			<h3>Search Terms</h3>
			    		</div><!-- /description-heading -->
		    		</div><!-- /span5 -->
						<div class="span7">
					    <input id="query_entry2" name="query[entries][entry2][keyword]" type="text" class="input-large" placeholder="search keyword (optional)" style="width: 85%;">
					    <img src="http://maps.google.com/mapfiles/ms/icons/blue.png" style="padding-bottom: 12px;"></img>
						</div><!-- /span7 -->
					
						<!-- the search fields are nested within the search terms row so that if they are opened with jquery, they will close when "extra search entry" is clicked -->
						<div class="row-fluid" id="fields2">
							<div class="span5">
								<div class="description-heading">
				    			<h3>Search Fields</h3>
				    		</div><!-- /description-heading -->
			    		</div><!-- /span5 -->
							<div class="span7" style='margin-top: 5px;'>

			        	<div class="row-fluid">
			        		<div class="span2">
			  			    	<div class='custom-checkbox'>
			  			    		<input type="checkbox" value="1" id="checkbox-place-name-2" name="query[entries][entry2][fields][feature_name]" checked/>
			  			  	  	<!-- <label for="checkbox-slider-place-name-2"></label> -->
			  			  	  	<label for='checkbox-place-name-2'></label>
			  			    	</div>
			    		    </div><!-- /span2 -->
			    		    <div class="span10">
			        			<div class="checkbox-slider-text">
			  	  		    	Place Name
			  	  		    </div><!-- /checkbox-slider-text -->
			  	    	  </div><!-- /span10 -->
			  	    	</div><!-- /row -->

			        	<div class="row-fluid">
			        		<div class="span2">
			  			    	<div class='custom-checkbox'>
			  			    		<input type="checkbox" value="1" id="checkbox-place-type-2" name="query[entries][entry2][fields][feature_class]" checked/>
			  			  	  	<label for='checkbox-place-type-2'></label>
			  			    	</div>
			    		    </div><!-- /span2 -->
			    		    <div class="span10">
			        			<div class="checkbox-slider-text">
			  	  		    	Place Type
			  	  		    </div><!-- /checkbox-slider-text -->
			  	    	  </div><!-- /span10 -->
			  	    	</div><!-- /row -->

			  	    	<div class="row-fluid">
			  	    		<div class="span2">
			  			    	<div class='custom-checkbox'>
			  			    		<input type="checkbox" value="1" id="checkbox-county-2" name="query[entries][entry2][fields][county]" checked/>
			  			  	  	<label for='checkbox-county-2'></label>
			  			    	</div>
			  			    </div><!-- /span2 -->
			  			    <div class="span10">
			  	    			<div class="checkbox-slider-text">
			  				    	County
			  				    </div>
			  			    </div><!-- /span10 -->
			  			  </div><!-- /row -->

							</div><!-- /span7 -->
						</div><!-- /row -->

						<div class="row-fluid" id="fields2_link" style='margin-bottom: 25px;'>
							<div class='span5'>
								<br><!-- empty contents to make span 'work' -->
							</div>
							<div class='span7'>
								<div class="show-fields-link">
									<a href="#" id="reveal_fields2">searchable fields</a>
							  </div>
							</div><!-- /span7 -->
						</div><!-- /row -->

					</div><!-- /row -->


			    <div class="row-fluid" id="excluded" style='margin-bottom: 25px;'>
						<div class="span5">
							<div class="description-heading">
			    			<h3>Excluded Terms</h3>
			    		</div><!-- /description-heading -->
		    		</div><!-- /span5 -->
						<div class="span7">
					    <input id="query_verbatim5" name="query[filters][exclude]" type="text" class="input-large" placeholder="exclude places with these keywords" style="width: 85%;">
					    <!-- <a href="#" id="reveal_excluded">[Hide]</a> -->
						</div><!-- /span7 -->
					</div><!-- /row -->

					<div class="row-fluid" id="states" style='margin-bottom: 25px;'>
						<div class="span5">
							<div class="description-heading">
			    			<h3>States</h3>
			    		</div><!-- /description-heading -->
		    		</div><!-- /span5 -->
						<div class="span7" style='margin-top: 5px;'>

		        	<div class="row-fluid">
		        		<div class="span1">
		  			    	<div class='custom-checkbox'>
		  			    		<input type="checkbox" value="yes" id="checkbox-montana" name="query[filters][select_states][mt]" checked/>
		  			  	  	<!-- <label for="checkbox-slider-place-name-2"></label> -->
		  			  	  	<label for='checkbox-montana'></label>
		  			    	</div>
		    		    </div><!-- /span1 -->
		    		    <div class="span11">
		        			<div class="checkbox-slider-text">
		  	  		    	Montana
		  	  		    </div><!-- /checkbox-slider-text -->
		  	    	  </div><!-- /span11 -->
		  	    	</div><!-- /row -->

		        	<div class="row-fluid">
		        		<div class="span1">
		  			    	<div class='custom-checkbox'>
		  			    		<input type="checkbox" value="yes" id="checkbox-wyoming" name="query[filters][select_states][wy]" checked/>
		  			  	  	<label for='checkbox-wyoming'></label>
		  			    	</div>
		    		    </div><!-- /span1 -->
		    		    <div class="span11">
		        			<div class="checkbox-slider-text">
		  	  		    	Wyoming
		  	  		    </div><!-- /checkbox-slider-text -->
		  	    	  </div><!-- /span11 -->
		  	    	</div><!-- /row -->

		        	<div class="row-fluid">
		        		<div class="span1">
		  			    	<div class='custom-checkbox'>
		  			    		<input type="checkbox" value="yes" id="checkbox-colorado" name="query[filters][select_states][co]" checked/>
		  			  	  	<label for='checkbox-colorado'></label>
		  			    	</div>
		    		    </div><!-- /span1 -->
		    		    <div class="span11">
		        			<div class="checkbox-slider-text">
		  	  		    	Colorado
		  	  		    </div><!-- /checkbox-slider-text -->
		  	    	  </div><!-- /span11 -->
		  	    	</div><!-- /row -->

		  	    	<div class="row-fluid">
		  	    		<div class="span1">
		  			    	<div class='custom-checkbox'>
		  			    		<input type="checkbox" value="yes" id="checkbox-newmexico" name="query[filters][select_states][nm]" checked/>
		  			  	  	<label for='checkbox-newmexico'></label>
		  			    	</div>
		  			    </div><!-- /span1 -->
		  			    <div class="span11">
		  	    			<div class="checkbox-slider-text">
		  				    	New Mexico
		  				    </div>
		  			    </div><!-- /span11 -->
		  			  </div><!-- /row -->

						</div><!-- /span7 -->
					</div><!-- /row -->

			    <div class="row-fluid" id="coordinates" style='margin-bottom: 25px;'>
						<div class="span5">
							<div class="description-heading">
			    			<h3>Coordinates</h3>
			    		</div><!-- /description-heading -->
		    		</div><!-- /span5 -->
			    	<div class="span7">
					    <input id="query_elevation_min" name="query[filters][north_bound]" type="text" class="input-large" placeholder="northern boundary" style="width: 215px; margin-bottom: 10px; margin-right: 10px;"></input>
					    
					    <input id="query_elevation_min" name="query[filters][south_bound]" type="text" class="input-large" placeholder="southern boundary" style="width: 215px; margin-bottom: 10px;"></input>

					    <div class='coordinate-label'>
						    Latitude
						  </div>
					    <br>

					    <input id="query_elevation_max" name="query[filters][east_bound]" type="text" class="input-large" placeholder="eastern boundary" style="width: 215px; margin-bottom: 10px; margin-right: 10px;"></input>

					    <input id="query_elevation_max" name="query[filters][west_bound]" type="text" class="input-large" placeholder="western boundary" style="width: 215px; margin-bottom: 10px;"></input>

					    <div class='coordinate-label'>
								Longitude
							</div>
							<br>

						</div><!-- /span7 -->
					</div><!-- /row -->

			    <div class="row-fluid" id="elevation">
						<div class="span5">
							<div class="description-heading">
			    			<h3>Elevation</h3>
			    		</div><!-- /description-heading -->
		    		</div><!-- /span5 -->
						<div class="span7">

		        	<div class="row-fluid">
		    		    <div class="span1">
		  			    	<div class='custom-checkbox'>
		  			    		<input type="checkbox" value="1" id="checkbox-slider-elevation_5000" name="query[filters][elevation_5000]" checked/>
		  			  	  	<label for="checkbox-slider-elevation_5000"></label>
		  			    	</div>
		  	    	  </div><!-- /span1 -->
		        		<div class="span11">
		        			<div class="checkbox-slider-text-elevation">
		  	  		    	Only search places above 5000 ft.
		  	  		    </div><!-- /checkbox-slider-text -->
		    		    </div><!-- /span11 -->
		  	    	</div><!-- /row -->

		        	<div class="row-fluid">
		    		    <div class="span1">
		  			    	<div class='custom-checkbox'>
		  			    		<input type="checkbox" value="1" id="checkbox-elevation_10200" name="query[filters][elevation_10200]" checked/>
		  			  	  	<label for="checkbox-elevation_10200"></label>
		  			    	</div>
		  	    	  </div><!-- /span1 -->
		        		<div class="span11">
		        			<div class="checkbox-slider-text-elevation">
		  	  		    	Only search places below 10200 ft.
		  	  		    </div><!-- /checkbox-slider-text -->
		    		    </div><!-- /span11 -->
		  	    	</div><!-- /row -->

					    <!-- <input id="elevation_5000" type="checkbox" value="yes" name="query[filters][elevation_5000]" checked> Only search places above 5000 ft. -->
					    <!-- <br><input id="elevation_10200" type="checkbox" value="yes" name="query[filters][elevation_10200]" checked> Only search places below 10200 ft. -->
					    <!-- <br> -->

					  </div><!-- /span7 -->

					  <!-- this is nested within elevation row for jquery -->
				    <div class="row-fluid" id="cust_elevation">
							<div class="span5">
								<div class="description-heading">
				    			<h3>Custom Elevation</h3>
				    		</div><!-- /description-heading -->
			    		</div><!-- /span5 -->
				    	<div class="span7" style='margin-top: 10px;'>
						    <input id="query_elevation_min" name="query[filters][elevation_min]" type="text" class="input-large" placeholder="min elevation" style="width: 170px">
						    *
						    <input id="query_elevation_max" name="query[filters][elevation_max]" type="text" class="input-large" placeholder="max elevation" style="width: 170px">
							</div><!-- /span7 -->
						</div><!-- /row -->

						<div class="row-fluid" id="cust_elev_link" style='margin-bottom: 25px;'>
							<div class='span5'>
								<br><!-- empty contents to make span 'work' -->
							</div>
							<div class='span7'>
								<div class="show-fields-link">
									<a href="#" id="reveal_cust_elev">custom elevation</a>
							  </div>
							</div><!-- /span7 -->
						</div><!-- /row -->

					</div><!-- /row -->

			    <div class="row-fluid" id="default" style='margin-bottom: 25px;'>
			    	<div class="span5">
			    		<div style="text-align: right;">
				    		<h3>Default Settings</h3>
				    	</div>
			    	</div><!-- /span5 -->
						<div class="span7">
					    <fieldset disabled>
						    <input id="search_area" type="checkbox" value="yes" name="query[filters][search_area]" checked> Only search locations within search area [change text color]
						  </fieldset>
						</div><!-- /span7 -->
					</div><!-- /row -->

			    <div class="row-fluid" id="standard-background-color" style='padding-bottom: 70px;'>
			    	<div class="span5">
			    		<div class="description-heading">
				    		<!-- <h3>[description heading]</h3> -->
				    	</div>
			    	</div><!-- /span5 -->
						<div class="span7">
					    <button type="submit" class="btn btn-large homepage" align="middle">Search</button>
						</div><!-- /span7 -->
					</div><!-- /row -->

	    	</div><!-- /span9 -->

	    	<div class='span3'>
	    		<div class='sidebar'>

						<div class="row-fluid">
							<div class='sidebar-heading' style="text-indent: 15px;">
								Options
							</div>
						</div><!-- /row -->

						<div class="row-fluid" id="entry2_link">
							<div class="show-link">
								<a href="#" id="reveal_entry2">extra search entry</a>
							</div>
						</div><!-- /row -->

						<div class="row-fluid" id="excluded_link">
							<div class="show-link">
								<a href="#" id="reveal_excluded">excluded terms</a>
						  </div>
						</div><!-- /row -->

						<div class="row-fluid" id="excluded_link">
							<div class="show-link">
								<a href="#" id="reveal_states">states</a>
						  </div>
						</div><!-- /row -->

						<div class="row-fluid" id="coords_link">
							<div class="show-link">
								<a href="#" id="reveal_coords">coordinates</a>
							</div>
						</div><!-- /row -->

						<div class="row-fluid" id="elevation_link">
							<div class="show-link">
								<a href="#" id="reveal_elev">elevation</a>
						  </div>
						</div><!-- /row -->

						<div class="row-fluid" id="default_link">
							<div class="show-link">
								<a href="#" id="reveal_default" hidden>default settings</a>
						  </div>
						</div><!-- /row -->

					</div><!-- /search-options-sidebar -->
	    	</div><!-- /span3 -->
	    </div><!-- /row -->


	    <!-- jQuery to reveal/hide searchable fields for first entry -->
	    <script>
	    $( document ).ready(function() {
	    	$( "div#fields" ).hide();
	      $( "a#reveal_fields" ).click(function( event ) {
	        $( "div#fields" ).slideToggle( "fast" );
	        $( this ).toggleClass( 'show-link-selected' );
	        // $( "#fields_link" ).toggle();
	        event.preventDefault();
	      });
	    });
	    </script>

			<!-- jQuery to reveal/hide second search term/fields -->
			<script>
			$( document ).ready(function() {
				$( "div#entry2" ).hide();
				// $( "#fields2_link" ).hide();
			  $( "a#reveal_entry2" ).click(function( event ) {
			    $( "div#entry2" ).slideToggle( 'fast' );
			    // $( this ).css({"background-color":"green"});
			    $( this ).toggleClass( 'show-link-selected' );
			    // $( "div#entry2_link" ).toggle();
			    // $( "#fields2_link" ).toggle();
			    // $( this ).hide();
			    event.preventDefault();
			  });
			});
			</script>

			<!-- jQuery to reveal/hide searchable fields -->
			<script>
			$( document ).ready(function() {
				$( "div#fields2" ).hide();
			  $( "a#reveal_fields2" ).click(function( event ) {
			    $( "div#fields2" ).slideToggle( 'fast' );
			    $( this ).toggleClass( 'show-link-selected' );
			    // $( "#fields2_link").toggle();
			    // $( this ).hide();
			    event.preventDefault();
			  });
			});
			</script>

			<!-- jQuery to reveal/hide excluded terms field -->
			<script>
			$( document ).ready(function() {
				$( "div#excluded" ).hide();
			  $( "a#reveal_excluded" ).click(function( event ) {
			    $( "div#excluded" ).slideToggle( "fast" );
			    $( this ).toggleClass( 'show-link-selected' );
			    // $( this ).hide();
			    event.preventDefault();
			  });
			});
			</script>

			<!-- jQuery to reveal/hide states checkboxes -->
			<script>
			$( document ).ready(function() {
				$( "div#states" ).hide();
			  $( "a#reveal_states" ).click(function( event ) {
			    $( "div#states" ).slideToggle( "fast" );
			    $( this ).toggleClass( 'show-link-selected' );
			    // $( this ).hide();
			    event.preventDefault();
			  });
			});
			</script>

			<!-- jQuery to reveal/hide elevation fields -->
			<script>
			$( document ).ready(function() {
				$( "div#elevation" ).hide();
				// $( "#cust_elev_link" ).hide();
			  $( "a#reveal_elev" ).click(function( event ) {
			    $( "div#elevation" ).slideToggle( 'fast' );
			    // $( "div#cust_elevation" ).slideToggle();
			    $( this ).toggleClass( 'show-link-selected' );
			    // $( "#elevation_link" ).toggle();
			    // $( "#cust_elev_link" ).slideToggle();
			    // $( this ).hide();
			    event.preventDefault();
			  });
			});
			</script>

			<!-- jQuery to reveal/hide custom elevation fields -->
			<script>
			$( document ).ready(function() {
				$( "div#cust_elevation" ).hide();
			  $( "a#reveal_cust_elev" ).click(function( event ) {
			    $( "div#cust_elevation" ).slideToggle( 'fast' );
			    $( this ).toggleClass( 'show-link-selected' );
			    // $( "#cust_elev_link" ).toggle();
			    // $( this ).hide();
			    event.preventDefault();
			  });
			});
			</script>

			<!-- jQuery to reveal/hide custom coordinate fields -->
			<script>
			$( document ).ready(function() {
				$( "div#coordinates" ).hide();
			  $( "a#reveal_coords" ).click(function( event ) {
			    $( "div#coordinates" ).slideToggle( 'fast' );
			    $( this ).toggleClass( 'show-link-selected' );
			    // $( "#coords_link" ).toggle();
			    // $( this ).hide();
			    event.preventDefault();
			  });
			});
			</script>

			<!-- jQuery to reveal/hide default settings -->
			<script>
			$( document ).ready(function() {
				$( "div#default" ).hide();
			  $( "a#reveal_default" ).click(function( event ) {
			    $( "div#default" ).slideToggle( 'fast' );
			    $( this ).toggleClass( 'show-link-selected' );
			    // $( "#default_link" ).toggle();
			    // $( this ).hide();
			    event.preventDefault();
			  });
			});
			</script>

		<% end %><!-- Search form -->

		</div><!-- /span12 -->
	</div><!-- /row -->
</div><!-- /container -->

</body><!-- /navbar-adjustment -->
