<%= form_for remark do |f| %>
	<div>	
		<%= f.text_field :name %>
	</div>	

	<div>	
		<%= f.text_field :email %>
	</div>
	
	<div>	
		<%= f.text_field :message %>
	</div>

	<div>
		<%= f.submit "Send" %>
	</div>
<% end %>