<div class="container-fluid navbar-adjustment full-size standard-background-color">
	<div class="row-fluid standard-background-color">
		<div class="span2">
			<br>
		</div><!-- /span4 -->

		<div class="span8">
			<div class="page-title">
				Contact & Feedback
			</div>
			<div class="page-subtitle">
				About the Site
			</div>
		</div>
		<div class="span2">
		</div>
	</div><!-- /row -->

	<div class="row-fluid standard-background-color">
		<div class="span9">
			<div class="row-fluid">
				<div class="span4">
					<div class="description-heading">
						Feedback
					</div>
				</div>
				<div class="span8">
					<div class="static-page-text">
						<p>Do you have something to say about this website? 
							Please use this form to submit questions, suggestions, comments, or kudos about TreasuresBold. 
							And if you have found this site useful in your search for the chest, feel free to leave a donation of gold nuggets or bitcoins. 
						</p>
					</div><!-- /static-page-text -->
				</div><!-- /span8 -->
			</div><!-- /row -->

			<%= form_for @remark do |f| %>

				<div class="row-fluid">
					<div class="span4">
						<div class="description-heading">
							<br>
						</div>
					</div>
					<div class="span8">

						<div id="alert">
						</div>
						<div id="error-heading"><%= flash[:error] %>
						</div>

						<% if @remark.errors.any? %>
						  <ul>
						    <% @remark.errors.full_messages.each do |msg| %>

						    <% end %>
						  </ul>
						<% end %>

						<div id="notice"><%= flash[:notice] %>
						</div>
						<br>

					</div><!-- /span8 -->
				</div><!-- /row -->


				<div class="row-fluid">
					<div class="span4">
						<div class="description-heading">
							Your Name
						</div>
					</div>
					<div class="span8">
						<div class="static-page-text">

							<div>	
								<div id="error-message">
									<% unless @remark.errors[:name].empty? %>
										Your name is required
									<% end %>
								</div><!-- /error-message -->
								<%= f.text_field :name, :class => "input-large", :placeholder => "John Smith", :style => "width: 500px;" %>
							</div>	
							<br>

						</div><!-- /static-page-text -->
					</div><!-- /span8 -->
				</div><!-- /row -->

				<div class="row-fluid">
					<div class="span4">
						<div class="description-heading">
							Your Email
						</div>
					</div>
					<div class="span8">
						<div class="static-page-text">

							<div>	
								<div id="error-message">
									<% unless @remark.errors[:email].empty? %>
										Email address <%= @remark.errors[:email].first %>
									<% end %>
								</div><!-- /error-message -->
								<%= f.text_field :email, :class => "input-large", :placeholder => "john.smith@example.com", :style => "width: 500px;" %>
							</div>
							<br>

						</div><!-- /static-page-text -->
					</div><!-- /span8 -->
				</div><!-- /row -->
							
				<div class="row-fluid">
					<div class="span4">
						<div class="description-heading">
							Comments
						</div>
					</div>
					<div class="span8">
						<div class="static-page-text">

							<div>	
								<div id="error-message">
									<% unless @remark.errors[:message].empty? %>
										<% if @remark.errors[:message].first == "can't be blank" %>
											Please enter some comments
										<% else %>
											Comments on this form are restricted to 1000 characters. 
											<br>If this is not enough space, please send an email to treasuresbold@gmail.com. 
										<% end %>
									<% end %>
								</div><!-- /error-message -->
								<%= f.text_area :message, :class => "comment-box", :placeholder => "I love this site and i have some suggestions for improving it...", :style => "width: 600px; height: 200px;" %>
							</div>
							<br>

						</div><!-- /static-page-text -->
					</div><!-- /span8 -->
				</div><!-- /row -->

				<div class="row-fluid">
					<div class="span4">
						<br>
					</div>
					<div class="span8">
						<div class="static-page-text">

							<div>
								<%= f.submit "Send", :class => "btn btn-large homepage", :align => "middle", :style => "width: 50%;" %>
							</div>

						</div><!-- /static-page-text -->
					</div><!-- /span8 -->
				</div><!-- /row -->
				<br>
				<br>
				<br>

			<% end %>

			<div class="row-fluid">
				<div class="span4">
					<div class="description-heading">
						Website Email
					</div>
				</div>
				<div class="span8">
					<div class="static-page-text">
						<p>If you prefer to send an email directly, please use this address: <%= mail_to "treasuresbold@gmail.com", "treasuresbold@gmail.com", subject: "Message about TreasuresBold" %>
						</p>
						<br>
						<br>
						<br>
						<br>
					</div><!-- /static-page-text -->
				</div><!-- /span8 -->
			</div><!-- /row -->

		</div><!-- /span9 -->
		<div class="span3">
  		<div class="sidebar">

				<div class="row-fluid">
					<div class="sidebar-heading">
						<strong>Contact Details</strong>
					</div>
				</div><!-- /row -->

				<div class="row-fluid">
					<div class="show-link">
						<span class="sidebar-plank">email: treasuresbold@gmail.com</span>
					</div>
				</div><!-- /row -->

				<div class="row-fluid">
					<div class="show-link">
						<span class="sidebar-plank">twitter: @TreasuresBold</span>
					</div>
				</div><!-- /row -->

				<div class="row-fluid">
					<div class="show-link">
						<span hidden>placeholder</span>
				  </div>
				</div><!-- /row -->

			</div><!-- /search-options-sidebar -->
		</div>
	</div><!-- /row -->
</div><!-- /container -->
