<!-- <div class="homepage"> -->
<div class="container-fluid">
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      
      <a class="brand" href="/">Treasure Finder</a>
      
      <div class="container-fluid nav-collapse">

        <ul class="nav">
          <li class="divider-vertical"></li>
          <li><%= link_to "search", search_path %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to "about", about_path %></li>
        </ul>

        <ul class="nav pull-right">
          <li class="divider-vertical"></li>
          <% if current_user %>
            <li><a style="color: #aaaaaa">signed in as: </a></li><li><%= link_to current_user.username, user_path(current_user) %></li>
              <li class="divider-vertical"></li>
            <li><%= link_to "sign out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <!-- change format of link to appear disabled -->
            <li><a>not signed in</a></li>
            <!-- <li><%= link_to "Sign In", sign_in_path %></li> -->
          <% end %>
        </ul>

      </div><!--/nav-collapse -->
    
    </div><!-- /container -->
  </div>
</div>
</div>