%body.no-scroll
  = render :partial => "/nav_bar"

  // all the parent elements for #map must have 'height: 100%'
  .container#map-container
    .row#map-row
      .col-9#map-column
        #map-canvas
          #map
          // javascript for map inserted into application layout
          - content_for :map do
            = render "google_map"
      .col-3.d-flex.flex-column#results-panel
        .results-summary
          - @search_results.each do |result|
            = "#{result.values.first[:landings].count} results for \"#{result.keys.first}\""
            %img{src: result.values.first[:marker], style: 'max-height: 20px;'}
            %br
        .results-list
          - @search_results.each do |result|
            - result.each do |keyword, map_data|
              - map_data[:landings].each do |place|
                .result-card{"data-landing" => "#{place.feature_id}"}
                  .result-header
                    = place.feature_name
                    %img{src: map_data[:marker], class: 'float-right'}
                  .result-location
                    = "#{place.county}, #{place.state}"
                  .result-body
                    = "Elevation: #{place.elevation} ft."

    // jQuery
    :javascript
      $( document ).ready(function() {
          $( '.result-card' ).hover(function() {
              $( this ).toggleClass( 'result-background-hover' );
              var feature_id = $(this).data('landing');
              toggleBounce(feature_id); // bouncing marker
          });
      });

      // remove map marker from sidebar
      // $( document ).ready(function() {
      //     $( 'a#remove-landing' ).click(function( event ) {
      //         $( this ).parent().parent().parent().parent().parent().parent().slideToggle();
      //         var feature_id = $(this).data('landing');
      //         deleteMarker(feature_id);
      //         event.preventDefault();
      //     });
      // });

      // hide sidebar and enlarge map
      // $( document ).ready(function() {
      //     $( '#hide-sidebar' ).click(function( event ) {
      //         $( '#full-size' ).css( 'width', '125%' );
      //         mapResize();
      //     });
      // });

      // show legend and stats on map
      // $( document ).ready(function() {
      //     $( '#legendModal' ).show();
      //     $( '.legend-box' ).hide();
      //     $( '.stats-box' ).hide();
      //     $( '#legend-button' ).click(function( event ) {
      //         $( '.legend-box' ).fadeToggle( 'fast' );
      //         event.preventDefault();
      //     });
      //     $( '#close-legend-box' ).click(function( event ) {
      //         $( '.legend-box' ).fadeToggle( 'fast' );
      //         event.preventDefault();
      //     });
      //     $( '#stats-button' ).click(function( event ) {
      //         $( '.stats-box' ).fadeToggle( 'fast' );
      //         event.preventDefault();
      //     });
      //     $( '#close-stats-box' ).click(function( event ) {
      //         $( '.stats-box' ).fadeToggle( 'fast' );
      //         event.preventDefault();
      //     });
      // });
    // Gold coin: <img src="assets/empty-gold-coin-icon.jpg" width="35" height="28">
